
* {
    
    box-sizing: border-box;
}
body {
    font-family: "Delivery", Verdana, sans-serif;
    color: #323232;
    background-color: #fff;
	font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    box-sizing: border-box;
    display: block;
    margin-top: -192px;
}
.showSweetAlert[data-animation=pop] {
    
    animation: showSweetAlert 0.3s;
}

@media (max-width: 540px)
.sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px;
}
.sweet-alert {
    background-color: #fff3f3;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    
    top: 35%;
    
    overflow: hidden;
   
    z-index: 99999;
}
.sweet-alert .sa-icon.sa-error {
    border-color: #F27474;
}
.sweet-alert .sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}
.sweet-alert .sa-icon.sa-error .sa-x-mark {
    position: relative;
    display: block;
}

.animateXMark {
    
    animation: animateXMark 0.5s;
}
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
    
    transform: rotate(45deg);
    left: 17px;
}

.sweet-alert .sa-icon.sa-error .sa-line {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: #F27474;
    display: block;
    top: 37px;
    border-radius: 2px;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
    
    transform: rotate(-45deg);
    right: 16px;
}
.sweet-alert .sa-icon.sa-error .sa-line {
    position: absolute;
    height: 5px;
    width: 47px;
    background-color: #F27474;
    display: block;
    top: 37px;
    border-radius: 2px;
}
.sweet-alert .sa-icon.sa-warning {
    border-color: #F8BB86;
}
.sweet-alert .sa-icon.sa-warning .sa-body {
    position: absolute;
    width: 5px;
    height: 47px;
    left: 50%;
    top: 10px;
   
    border-radius: 2px;
    margin-left: -2px;
    background-color: #F8BB86;
}

.sweet-alert .sa-icon.sa-warning .sa-dot {
    position: absolute;
    width: 7px;
    height: 7px;
    
    border-radius: 50%;
    margin-left: -3px;
    left: 50%;
    bottom: 10px;
    background-color: #F8BB86;
}
.sweet-alert .sa-icon.sa-info {
    border-color: #C9DAE1;
}

.sweet-alert .sa-icon.sa-success {
    border-color: #A5DC86;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    transform: rotate(45deg);
}

.sweet-alert .sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #A5DC86;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}
.sweet-alert .sa-icon.sa-success .sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(165, 220, 134, 0.2);
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}
.sweet-alert .sa-icon.sa-success .sa-fix {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    
    transform: rotate(-45deg);
}
.sweet-alert .sa-icon.sa-custom {
    background-size: contain;
    border-radius: 0;
    border: none;
    background-position: center center;
    background-repeat: no-repeat;
}
.sweet-alert .sa-icon {
    width: 80px;
    height: 80px;
    
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}
.sweet-alert h2 {
    color: #575757;
    font-size: 30px;
    text-align: center;
    font-weight: 800;
    text-transform: none;
    position: relative;
    margin: 25px 0;
    padding: 0;
    line-height: 40px;
    display: block;
}
.sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}
.sweet-alert fieldset {
    border: none;
    position: relative;
}

fieldset {
   
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
.sweet-alert input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid #d7d7d7;
    height: 43px;
    margin-top: 10px;
    margin-bottom: 17px;
    font-size: 18px;
    box-shadow: inset 0px 1px 1px rgb(0 0 0 / 6%);
    padding: 0 12px;
    display: none;
    
    transition: all 0.3s;
}

button, input, optgroup, option, select, textarea {
    font-family: inherit;
    
    font-style: inherit;
    font-weight: inherit;
    outline: 0;
}

.sweet-alert .sa-input-error {
    position: absolute;
    top: 29px;
    right: 26px;
    width: 20px;
    height: 20px;
    opacity: 0;
    
    transform: scale(0.5);
    
    transform-origin: 50% 50%;
    
    transition: all 0.1s;
}
.sweet-alert .sa-input-error::before {
    
    transform: rotate(-45deg);
}
.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
    content: "";
    width: 20px;
    height: 6px;
    background-color: #f06e57;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -9px;
}

*:before, *:after {
    
    box-sizing: border-box;
}
.sweet-alert .sa-error-container {
    background-color: #f1f1f1;
    margin-left: -17px;
    margin-right: -17px;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    
    transition: padding 0.15s, max-height 0.15s;
}
.sweet-alert .sa-error-container .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #ea7d7d;
    color: white;
    line-height: 24px;
    text-align: center;
    margin-right: 3px;
}
.sweet-alert .sa-error-container p {
    display: inline-block;
}
.sweet-alert p {
    color: #797979;
    font-size: 16px;
    
    font-weight: 700;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal;
}
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.sweet-alert[data-has-cancel-button=false] button {
    box-shadow: none !important;
}
.sweet-alert button.cancel {
    background-color: #C1C1C1;
}
.sweet-alert button {
    
    color: white;
    border: none;
   
    font-size: 20px;
    font-weight: 800;
    
    border-radius: 5px;
    padding: 10px 32px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}

button, input, optgroup, option, select, textarea {
    font-family: inherit;
    
    font-style: inherit;
    
    outline: 0;
}
.sweet-alert .la-ball-fall {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -27px;
    margin-top: 4px;
    opacity: 0;
    visibility: hidden;
}

.la-ball-fall {
    width: 54px;
    height: 18px;
}
.la-ball-fall {
    display: block;
    font-size: 0;
    color: #fff;
}
.la-ball-fall, .la-ball-fall>div {
    position: relative;
   
    box-sizing: border-box;
}
.la-ball-fall>div {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 100%;
    opacity: 0;
    
    animation: ball-fall 1s ease-in-out infinite;
}

.la-ball-fall>div {
    display: inline-block;
    float: none;
    background-color: currentColor;
    border: 0 solid currentColor;
}



